extends ../layout

block head
    // bootstrap multiselect
    link(rel="stylesheet" href="/admin/plugins/bootstrap-multiselect/bootstrap-multiselect.css")

    style.
        .multiselect-native-select .btn-group {
            margin-right: 10px;
        }
        ul.multiselect-container.dropdown-menu li a {
            float: right;
        }
        ul.multiselect-container.dropdown-menu li a label {
            padding: 3px 10px 3px 10px;
        }
        span.multiselect-selected-text {
            font-family: 'Vazir', sans-serif !important;
        }
        button.multiselect.dropdown-toggle::after {
            margin-bottom: -4px;
        }
        ul {
            list-style: none;
        }

block content
    // Content Header (Page header)
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1.m-0.text-dark #{pageTitle}
                // .col end
                .col-sm-6
                    ol.breadcrumb.float-sm-left
                        li.breadcrumb-item
                            a(href="#") خانه
                        li.breadcrumb-item.active #{pageTitle}
    section.content
        .container
            .row
                .col
                    .card
                        .card-header.bg-info.border-transparent
                            h3.card-title #{pageTitle}
                            .card-tools
                                button.btn.btn-tool(type="button" data-widget="collapse")
                                    i.fa.fa-minus
                        // .card-header end
                        .card-body
                            if errors
                                .alert.alert-danger.alert-dismissible.fade.show
                                    ul.m-0.p-0
                                        each error in errors
                                            li=error.msg
                                    button.close.p-2(type="button" data-dismiss="alert" aria-label="Close")
                                        span(aria-hidden="true") &times;
                            form(action="/dashboard/post/edit/" + post._id method="POST")
                                input(type="hidden" name="_method" value="PUT")
                                .form-group
                                    label(for="inputPostTitle") عنوان پست
                                    input#inputPostTitle.form-control(name="title" type="text" placeholder="حداقل ۵ حرف" value=post.title required)
                                .form-group
                                    label(for="inputPostSlug") نامک
                                    input#inputPostSlug.form-control(name="slug" type="text" placeholder="نامک-پست-جدید" value=post.slug)
                                .form-group
                                    if categories
                                        label(for="inputPostCategory") دسته‌بندی
                                        select#inputPostCategory.form-control(name="category" multiple="multiple" required)
                                            each category in categories
                                                option(value=category._id.toString() selected=(category._id.toString() == post.category_id) ? true : false) #{category.name}
                                    else
                                        label دسته‌بندی
                                        a.btn.btn-outline-primary.mr-1(href='٫') هیچ دسته بندی یافت نشد. لطفا ابتدا یک دسته‌بندی ایجاد کنید.
                                .form-group
                                    label(for="inputPostDescription") متن
                                    textarea#inputPostDescription.form-control(name="description" rows="10" required) #{post.description}
                                button.btn.btn-sm.btn-info(type="submit") ویرایش پست

block footer
    // Bootstrap Multiselect
    script(src="/admin/plugins/bootstrap-multiselect/bootstrap-multiselect.js")
    script(type="text/javascript").
        $(document).ready(function () {
            $('#inputPostCategory').multiselect();
        });
